@import url('https://fonts.googleapis.com/css2?family=Sora:wght@100;200;300;400;500;600;700;800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lora:ital,wght@0,400;0,500;0,600;0,700;1,400;1,500;1,600;1,700&display=swap');
/* font-family: 'Sora', sans-serif; */
/* font-family: 'Lora', serif; */
:root{
    --primary-font:'Sora', sans-serif;
    --secondary-font:'Lora', serif;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: var(--primary-font);
}
body{
    background-color: #f4f5f6;
}
.hero_section{
    display: flex;
    /* border: 2px solid red; */
    height: 135vh;
    margin-bottom: 100px
}
.hero_left{
    width: 50%;
    background:url(./hero\ 2.png);
    background-repeat: no-repeat;
    background-size: cover;
}
.logo{
    padding-left: 30px;
    margin-top: 20px;
}
.hero_right{
    width: 50%;
}
nav{
    display: flex;
    justify-content:space-evenly;
    width:90%;
    margin-top: 20px;
}
.manu_bar a{
    text-decoration: none;
    color: #707c84;
    font-weight: 700;
    font-size: 14px;
    padding-left: 25px;
}
.manu_bar .home_link{
    color: #131516;
}
.manu_bar a:hover:not(.home_link){
    color: #131516;
    transition: 0.2s ease-in-out;
}
button{
    background-color:#f11158;
    color: #f4f5f6;
    border: none;
    padding: 13px 24px;
    border-radius: 20px;
    font-weight: 700;
    margin-left: 25px;
}
button:hover{
    cursor: pointer;
}
.main_content{
    margin-top: 100px;
    padding:0 3.8rem;
}
.main_content_top{
    display: flex;
    align-items: center;
    padding: 0px 0px 24px;
}
.main_content_top span{
    font-family: var(--secondary-font);
    color: #131516;
}
.main_content_top hr{
    width: 80px;
    height: 3px;
    background-color: #f11158;
    margin-right: 30px;
}

.main_content h1{
    font-size: 64px;
    font-weight: 600;
    margin-top: 30px;
    margin-bottom: 15px;
    line-height: 1.2;
}
.main_content p{
    color: #707c84;
    margin-bottom: 15px;
    font-family: var(--secondary-font);
    font-size: 16px;
    line-height: 1.8;
}
.main_content a{
    text-decoration: none;
    color: #f11158;
}
.link_container{
    display: flex;
    align-items: center;
}
.link_container a{
    font-weight: 700;
    font-size: 14px;
    
}
.link_container a:hover
{
    border-bottom: 1px solid #f11158;
}
.link_container span{
    color: #f11158;
    font-size: 30px;
}
.card_heading{
    margin-top: 100px;
}
.card_heading h6{
    font-size: 1rem;
    color: #707c84;
    font-weight: 600;
    margin-bottom: 15px;
}
.card_container{
    display: flex;
}
.card{
    /* height: 80px;
    width: 100px; */
    background-color: white;
    border-style: solid;
    border-color: #f4f5f6;
    border-width: 1px;
    border-radius: 8px 8px 8px 8px;
    margin: 0;
    padding: 16px;
    font-weight: 600;
    transition: box-shadow 0.3s ease-in-out;
    
}
.card:hover{
    box-shadow: 0 0 10px 5px rgb(225, 224, 224); 
}
.card a{
    color:black;
    cursor: pointer;
}
.icon_color{
    color: #f11158;
    font-size: 25px;
    margin-bottom: 10px;
}
#card1{
    display: flex;
    flex-direction: column;
    margin-right: 50px;
}
#card2{
    display: flex;
    flex-direction: column;
    margin-right: 50px;
}
#card3{
    display: flex;
    flex-direction: column;
}
/* Story Section */
.story_section_container{
    padding: 0px 40px 0px 40px;
    
}
.story{
    display: flex;
    /* border: 2px solid red; */
    padding:60px 0px 60px 0px;
    /* height: 100vh; */
}
.story_left{
    width: 50%;
    /* border: 2px solid yellow; */
    /* margin-top: 50px; */
}
.story_left h2{
    font-size: 40px;
    font-weight: 600;
    padding-right:3.8rem ;
    margin-bottom: 160px;
}
.story_right{
    width: 50%;
    /* border: 2px solid green; */
    /* margin-top: 50px; */
    padding: 0rem 0rem 0rem 3.8rem;
}
.story_right hr{
    width: 50px;
    height: 3px;
    background-color:#707c84;
}
.story_right p{
    color: #707c84;
    margin-top: 60px;
    padding-bottom: 20px;
    line-height: 1.8;
    font: 16px;
}
.story_link_container{
    display: flex;
    align-items: center;
}
.story_link_container a{
    font-weight: 700;
    font-size: 14px;
    text-decoration: none;
    color: #f11158;
    
}
.story_link_container a:hover
{
    border-bottom: 1px solid #f11158;
}
.story_link_container span{
    color: #f11158;
    font-size: 30px;
}

/* image story section */
.img_story_section{
    display: flex;
    border: 2px solid #f0f0f0;
    border-radius: 20px;
}
.img_section{
    width: 50%;
}
.img_section img{
    border-radius: 20px;
}
.story_text_section{
    width: 50%;
    padding: 2.8rem 3.8rem 2.8rem 3.8rem;

}
.story_text_section h4{
    color: #f11158;
}
.story_text_section h2{
    font-size: 45px;
    font-weight: 600;
    margin-top: 35px;
    margin-bottom: 20px;
}
.story_text_section p{
    color: #707c84;
    line-height: 1.8;
    margin-bottom: 20px;
}
.story_btn{
    width: 50px;
    height: 50px;
    border: 2px solid #f11158;
    background-color: transparent;
    border-radius:50%;
    margin-left:0px;
    padding: 16px;
    transition:0.5s all ease;
}
.story_btn:hover{
    
    border-color: #f1115854;
}
.play_btn{
    color: #f11158;
    font-size: 18px;
}
/* Recent Episodes */
.recent_episodes{
    display: flex;
    justify-content: space-between;
    padding-top: 130px;
}
.recent_episodes h2{
    font-size: 40px;
    font-weight: 600;
}
.episodes_btn{
    display: flex;
    align-items: center;
    font-size: 14px;
    color: #f4f5f6;
    align-content: center;
    border-radius: 25px;
    padding: 13px 20px;
}
.episode_section{
    display: flex;
    margin-top: 60px;
}
.episode_card img{
    border-radius: 20px;
}
.epi_detail{
    display: flex;
    margin-top: 20px;
}
.btn_wrapper{
    display: inline-flex;
    flex: 0 0 auto;
}
.epi_btn{
    height: 40px;
    width: 40px;
    background-color: transparent;
    border: 1px solid #f11158;
    border-radius: 50%;
    padding: 8px 16px;
    margin-left: 0px;
    margin-right: 15px;
}
.epi_text h5{
    font-size:20px;
}
.epi_text a{
    text-decoration: none;
    color: #131516;
}
.epi_text p{
    padding-top: 10px;
    color: #707c84;
    font-family: var(--secondary-font);
}